[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "lfl"]
	path = lfl
	url = https://github.com/beerda/lfl
	shallow = true
	registered = true
[submodule "paircompviz"]
	path = paircompviz
	url = https://git.bioconductor.org/packages/paircompviz
	shallow = true
	registered = true
[submodule "rmake"]
	path = rmake
	url = https://github.com/beerda/rmake
	shallow = true
	registered = true
