[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lfl"]
	path = lfl
	url = https://github.com/beerda/lfl
[submodule "nuggets"]
	path = nuggets
	url = https://github.com/beerda/nuggets
[submodule "paircompviz"]
	path = paircompviz
	url = https://git.bioconductor.org/packages/paircompviz
[submodule "rmake"]
	path = rmake
	url = https://github.com/beerda/rmake
